/* You can add global styles to this file, and also import other style files */
form.prc-form{
    border-radius: 4px;
    padding: 10px;
}
div.validation-error{
    color: crimson;
    font-size: small;
    text-align: left;
}

